<div class="container-fluid">
  <div class="row border"><h6 class="m-3">Options</h6></div>
  <div class="row border">
    <div class="col-12">
      <h6 class="m-2">Bestseller</h6>
    </div>
    <div *ngIf="bestSeller.selected == ''">
      <div class="col-12" *ngFor="let item of bestSeller.options">
        <input
          type="checkbox"
          class="m-1"
          id="{{ item.display }}"
          value="item.selected"
          [(ngModel)]="item.isSelected"
        />{{ item.refineValue }}({{ item.totalNum }})
      </div>
    </div>
    <div *ngIf="bestSeller.selected">
      <div class="col-12" *ngFor="let item of bestSeller.options">
        <div *ngIf="item.isSelected">
          <input
            type="checkbox"
            class="m-1"
            id="{{ item.display }}"
            value="item.selected"
            [(ngModel)]="item.isSelected"
          />{{ item.refineValue }}({{ item.totalNum }})
        </div>
      </div>
    </div>
  </div>
  <div class="row border">
    <div class="col-12">
      <h6 class="m-2">Language</h6>
    </div>
    <div *ngIf="language.selected == ''">
      <div class="col-12" *ngFor="let item of language.options">
        <input
          type="checkbox"
          class="m-1"
          id="{{ item.display }}"
          value="item.selected"
          [(ngModel)]="item.isSelected"
        />{{ item.refineValue }}({{ item.totalNum }})
      </div>
    </div>
    <div *ngIf="language.selected">
      <div class="col-12" *ngFor="let item of language.options">
        <div *ngIf="item.isSelected">
          <input
            type="checkbox"
            class="m-1"
            id="{{ item.display }}"
            value="item.selected"
            [(ngModel)]="item.isSelected"
          />{{ item.refineValue }}({{ item.totalNum }})
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn-primary" (click)="emitChange()">Refine</button>
  </div>
</div>
