<div class="container-fluid">
  <div class="row">
    <div *ngIf="languageOptions && bestSellerOptions" class="col-2">
      <app-left-panel
        [bestSeller]="bestSellerOptions"
        [language]="languageOptions"
        (optSel1)="optChange($event)"
      ></app-left-panel>
    </div>
    <div class="col-10 mt-3">
      <h6 class="row" *ngIf="data">
        {{ item }} to {{ numOfItem }} of
        {{ data.pageInfo.totalItemCount }}
      </h6>
      <div class="row bg-primary">
        <div class="col-3 border">Title</div>
        <div class="col-3 border">Author</div>
        <div class="col-2 border">Language</div>
        <div class="col-2 border">Genre</div>
        <div class="col-1 border">Price</div>
        <div class="col-1 border">Bes...</div>
      </div>
      <div *ngIf="data">
        <div class="row" *ngFor="let d1 of data.data">
          <div class="col-3 border">{{ d1.name }}</div>
          <div class="col-3 border">{{ d1.author }}</div>
          <div class="col-2 border">{{ d1.language }}</div>
          <div class="col-2 border">{{ d1.genre }}</div>
          <div class="col-1 border">{{ d1.price }}</div>
          <div class="col-1 border">{{ d1.bestseller }}</div>
        </div>
      </div>
      <div *ngIf="data">
        <button
          class="btn-primary m-1"
          *ngIf="data.pageInfo.pageNumber > 1"
          (click)="previous()"
        >
          Previous
        </button>
        <button
          class="btn-primary m-1"
          *ngIf="data.pageInfo.pageNumber < data.pageInfo.numberOfPages"
          (click)="next()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
