<nav class="navbar navabr-fluid navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">BookSite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="books"
          [queryParams]="{ newarrival: 'Yes' }"
          routerLinkActive="active"
          >New Arrivals</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navdropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Books by Genre</a
        >
        <div class="dropdown-menu" aria-labelledby="navdropdown">
          <a
            class="dropdown-item"
            routerLink="books/Fiction"
            routerLinkActive="active"
            >Fiction</a
          >
          <a
            class="dropdown-item"
            routerLink="books/Children"
            routerLinkActive="active"
            >Children</a
          >
          <a
            class="dropdown-item"
            routerLink="books/Mystery"
            routerLinkActive="active"
            >Mystery</a
          >
          <a
            class="dropdown-item"
            routerLink="books/Management"
            routerLinkActive="active"
            >Management</a
          >
          <a
            class="dropdown-item"
            routerLink="books/Self Help"
            routerLinkActive="active"
            >Self Help</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="books">All Books</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">LOGIN</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
